<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<!-- 使用spring组件扫描 -->
	<context:component-scan base-package="com.hss01248.springdemo.controller" />

	<!-- 全部使用默认的处理器 -->
	<mvc:default-servlet-handler/>
	<!-- 开启注解 -->
	<mvc:annotation-driven/>

	<!--ViewResolver 视图解析器-->
	<!--用于支持Servlet、JSP视图解析-->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".jsp"/>
	</bean>





	<!--&lt;!&ndash; 注解处理器映射器 &ndash;&gt;
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>


	&lt;!&ndash; 配置处理器适配器 springmvc框架根据HandlerAdapter接口判断是否是处理器适配器 &ndash;&gt;
	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

	&lt;!&ndash; HttpRequestHandlerAdapter适配器 &ndash;&gt;
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

	&lt;!&ndash; 注解适配器 &ndash;&gt;
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />

	&lt;!&ndash; 配置视图解析器 要求将jstl的包加到classpath &ndash;&gt;
	&lt;!&ndash; ViewResolver &ndash;&gt;
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />

	</bean>-->


</beans>